@font-face {
  font-family: 'Xolonium';
  src: url('xolonium-regular.eot');
  src: url('xolonium-regular.eot?#iefix') format('embedded-opentype'),
    url('xolonium-regular.woff2') format('woff2'),
    url('xolonium-regular.woff') format('woff'),
    url('xolonium-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

html {
  background: #09121c;

  &.vehicle {
    background: #1c1309;
    body {
      background: #2d170c;
    }
    header {
      background: linear-gradient(to bottom, #574117 0%, #422a14 35%, #2d170c 100%);
      h1 {
        text-shadow: 0 0 4px #7a6628, 0 0 12px #7a6628;
      }
      h2 {
        color: #fbf5dd;
        text-shadow: 0 0 4px #4a250b, 0 0 12px #4a250b;
      }
    }
    h3 {
      background: linear-gradient(to right, #706217 0%, #37230f 50%);
    }
  }
}

body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Xolonium', sans-serif;
  background: #0f1837;
  color: white;
}

a {
  color: rgb(174, 188, 240);
  font-weight: bold;
}

header {
  padding: 50px 0;
  background: linear-gradient(to bottom, #174e57 0%, #142942 35%, #0f1837 100%);

  h1 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: 0 0 4px #215358, 0 0 12px #215358;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

  h2 {
    font-size: 2.4em;
    font-weight: normal;
    color: #ddf2fb;
    text-shadow: 0 0 4px #0b1b4a, 0 0 12px #0b1b4a;
    margin: 0;
    text-align: center;
  }

  div {
    margin: 16px 0;
    text-align: center;
  }
  
  img {
    vertical-align: middle;
  }
}

footer {
  padding: 4em 0 1em 0;
  text-align: center;
}

h3 {
  background: linear-gradient(to right, #175070 0%, #0f1837 50%);
  margin: 22px 0 0 0;
  padding: 8px;
}

.video {
  video {
    width: 100%;
  }
}

.how {
  padding: 16px;

  img {
    width: 100%;
    max-width: 300px;
  }
}

.contact {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 800px) {
    flex-direction: row;

    .block {
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }

  img {
    width: 100%;
    max-width: 80px;
    margin-bottom: 20px;
  }

  .block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    margin: 16px;
    transition: transform 30ms linear;
    transform: scale(1);

    &:hover {
      transform: scale(1.05);
    }

    &.block-discord {
      background: #6e85d2;
    }

    &.block-donate {
      background: #dbb51b;
    }

    &.block-irc {
      background: #333333;
    }

    &.block-vehicle {
      background: #cf8835;
    }

    &.block-resurrection {
      background: #2b99b6;
    }
  }
}
